## Build Folders
bin/
obj/
out/

## User-specific files
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS for Windows
.vs/
*.dbmdl
*.psess
*.vsp
*.vspx
*.vspscc
*_i.c
*_p.c
*_h.h
*.ncb
*.sbr
*.sdf
*.opensdf
*.cachefile
*.VC.db

## Rider / JetBrains
.idea/
*.sln.iml

## Logs
*.log

## Packages
*.nupkg
*.snupkg
packages/
# If using NuGet package restore, do not commit packages folder
**/packages/*

## DotNet CLI
project.lock.json
project.fragment.lock.json
artifacts/

## ASP.NET Core
wwwroot/
node_modules/
dist/
bower_components/

## Configuration / Secrets
appsettings.Development.json
secrets.json
.env

## OS-specific
.DS_Store
Thumbs.db

## Others
*.tmp
*.bak
*.old
*.swp
*.orig
